@media(max-width:500px) {

    .sideBar {
        position: absolute;
        height: auto;
        width: 100px;
        transition: 0.5s ease;
        transform: translateX(-100px);
        backdrop-filter: blur(30px);



    }

    .toggle {
        position: absolute;
        height: 30px;
        width: 30px;
        left: 20px;
        top: 20px;
        border: 0.8px solid rgba(255, 255, 255, 0.2);
        cursor: pointer;
        border-radius: 5px;
        z-index: 100;
    
    
    }

    .toggle .common {
        position: absolute;
        height: 2px;
        width: 20px;
        left: 50%;
        background: #fff;
        transform: translate(-50%, -50%);
        transition: 0.3s ease;
    }


    input[type="checkbox"]:checked~.toggle .topLine {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        left: 3px;
        top: 13px;
        width: 23px;
    }
    
    input[type="checkbox"]:checked~.toggle .bottomLine {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        left: 3px;
        top: 13px;
        width: 23px;
    }
    
    input[type="checkbox"]:checked~.toggle .middLine {
        transform: translateX(20px);
        -webkit-transform: translateX(20px);
        -moz-transform: translateX(20px);
        -ms-transform: translateX(20px);
        opacity: 0;
    }



    ul li a {

        font-size: 13px;
        color: white;
        display: block;
        padding-top: 100px;
        padding-left: 25px;
        text-shadow: -1px 0 green, 0 1px green, 1px 0 green, 0 -1px green;
        text-decoration: none;
        text-transform: capitalize;
    }


    .grid {
        margin-left: 12px;
        padding-left: 12px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0px;
        justify-content: center;
        align-items: center;
        height: 100%;

    }

    /* Footer*/
    .footer .social a {
        margin: 0 10px;
    }

    .social .h1 {
        font-size: 15px;
        color: #fff;
        text-shadow: -1px 0 green, 0 1px green, 1px 0 green, 0 -1px green;
    }

    .grid p{
        font-size: 15px;
    }




}